extends layout

block body
  .span9
    .hero-unit
      h1 Mes Conseillers
      p Un produit de Gatineau Ouverte
    each entry in activities
      .row-fluid
        h2= entry.conseiller
        .label.label-info #{entry.source}
        h4 #{entry.title}
        div.well
          !{entry.content}
          p.label #{entry.posted_on}
      hr
  .span3
    .well.sidebar
      h1 Sidebar
      p lorem ipsum
